@media only screen and (max-width: 767px) {
    .skills {
        margin-top: 300px;
        padding-top: 50px;
        text-align: center;
        margin-bottom: 100px;
    }

    .skills__container {
        flex-direction: column;
        height: 100%;
    }

    .skills__container--box {
        width: 100%;
        height: 100%;
    }

}