@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

:root {
    --main-color: #3498db;
  }

/*GENERAL  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 18px;
    scroll-behavior: smooth;
}

h1 {
    color: #fff;
    font-weight: 600;
    word-spacing: 3px;
    letter-spacing: 1px;
}

a:link,
a:visited {
    color: #fff;
    text-decoration: none;
}

/***********HEADER SECTION *********/

.header {
    background-color: var(--main-color);
    height: 100vh;
}

.header h1 {
    font-size: 90px;
}

.menu {
    float: right;
    text-decoration: none;
    margin: 5px;
}

.menu__list li {
    display: inline;
    list-style: none;
    margin-right: 5px;
}

.intro {
    width: 100%;
    padding: 25%;
}

.scroll-down {
    position: absolute;
    bottom: 1%;
    left: 50%;
}

/*******SKILLS SECTION *********/
.skills {
    background: linear-gradient(var(--main-color) 25%, #fff 0%);
    padding-top: 50px;
    text-align: center;
    margin-bottom: 100px;
}

.skills ion-icon {
    margin-top: 20px;
    font-size: 64px;
    color: var(--main-color);
}

.skills h1 {
    color: var(--main-color);
}

.skills__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skills__container--box {
    background-color: rgb(255, 255, 255);
    padding: 0.5em;
    border: 1px solid rgb(230, 225, 225);
    width: 30%;
}

p,
ul {
    margin-bottom: 40px;
}

.language-heading {
    color: var(--main-color);
}

.skills__container--box ul {
    list-style: none;
}

/*****PORTFOLIO SECTION ********/
.portfolio h2 {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-gap: 30px;
    padding: 0 30px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 400px;
}

.container img {
    border: 1px solid rgb(230, 225, 225);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.container__project:hover img {
    transform: scale(1.03);
    opacity: 0.5;
}

.container__project {
    position: relative;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.text {
    display: block;
    background-color: var(--main-color);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    margin-bottom: 5px;
    cursor: pointer;
}
.container__project:hover .middle {
    opacity: 1;
}

/*****CONTACT ME SECTION ********/
.contact {
    background-color: #3498db;
    margin-top: 50px;
    padding-top: 50px;
    height: 500px;
}

.contact h1 {
    text-align: center;
}

.contact__method {
    padding: 48px;
    border-bottom: 1px solid rgb(230, 225, 225);
}

.contact ion-icon {
    float: left;
    font-size: 25px;
    padding-right: 16px;
    padding-bottom: 16px;
}